body {
    font-family: Arial, sans-serif;
}

.blog-section {
    background-color: #b4f7da;
    padding: 20px;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.centered-text {
    text-align: center;
    flex-basis: 100%; /* Takes full width on its line */
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

.read-more {
    text-decoration: none;
    color: #007bff;
}

.blog-cards {
    display: flex;
    gap: 20px;
    background-color: #054863; 
    padding: 20px;
}

.blog-card {
    background: white; /* Background color for individual cards */
    color: black; /* Text color for improved contrast */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    max-width: 300px;
}

/* Set a fixed size for the images */
.blog-card img {
    width: 100%; /* Ensures the image takes the full width of the container */
    height: 150px; /* Adjust this to your desired fixed height */
    object-fit: cover; /* Maintain aspect ratio and cover container */
}

.info-box {
    padding: 20px;
}

.date {
    font-weight: bold;
}

.author {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.author img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.name {
    font-weight: bold; /* Make the name bold */
}
.position {
    font-style: italic;
}

.news {
    margin-top: 10px;
}
