/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Footer Styles */
.footer {
    background-color: #054863;
    color: #f2f4f7;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.column {
    flex: 1;
    text-align: center;
    margin: 10px;
}

.column h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.column p {
    font-size: 14px;
}

/* Social Icons */
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    color: #6FBCFF;
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
}

/* Navigation Links */
.nav-links {
    text-align: left;
}

.nav-links ul {
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin-bottom: 5px;
}
.nav-links a{
    color: #6FBCFF;
}
/* Quick Links */
.quick-links {
    text-align: left;
}

.quick-links ul {
    list-style: none;
    padding: 0;
}

.quick-links li {
    margin-bottom: 5px;
}
.quick-links a{
    color: #6FBCFF;
}
/* Contact Info */
.contact-info {
    text-align: left;
}

.contact-info i {
    font-size: 24px;
    margin-right: 10px;
}

.copyright-box {
    background-color: #0B729B; /* New background color for the copyright box */
    text-align: center;
    padding: 10px;
    color: #fff;
}

.copyright-box p {
    margin: 0;
    font-size: 14px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


