@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #ecf5fa;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
 }
.map-image{
    height: 500px;
    width: 100%;
    object-fit: cover;
    padding-top: 20px;
    padding-bottom: 20px;
}
.subscribe{
    padding-top: 20px;
}
.share-location{
    
    color:#2FB8A7;
}
.header-color{
    color: #054863;
}
.header-color h1{
    font-weight: lighter;
}
p{
    font-size:16px;
}
input {
    width: 350px;
    height: 40px;
    padding: 5px 10px;
    margin: 15px auto;
    margin-right: 0;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 6px black;
}
.subscribe-input{
    display: flex;
    flex-direction: row;
}
.fa-share{
    color:#daecf6 ;
    background-color:#054863 ;
    height: 40px;
    padding: 10px 10px;
    margin: 15px auto;
    margin-left: 0px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 6px black;
    align-items: center;
    align-content: center;
}
