@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ddd;
    align-items: center;
    justify-content: center;
}

*{
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
}

.box{
    flex: 30%;
    display: table;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-color:#0d1425;
    color: #fff;
    padding: 30px 30px;
    border-radius: 20px;
}

.box img{
    border-radius: 50%;
    border: 2px solid #fff;
    height: 250px;
    width: 250px;
}

.box ul{
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
}
.box ul li{
    list-style: none;
    margin-top: 50px;
    font-weight: 100;
}

.box ul li i{
    cursor: pointer;
    margin: 10px;
    font-size: 40px;
}

.box ul li i:hover{
    opacity: 0.6;
}

.About{
    margin-left: 20px;
    flex: 50%;
    display: table;
    padding: 30px 30px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 20px;
}

.About h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 50px;
    font-weight: 500;
    color: #064b79;
}
.About  h3{
    color:#064b79;
}
.About ul li{
    list-style: none;
}

.About ul{
    margin-top: 20px;
}

@media screen and (max-width: 1068px) {
    .container{
        display: table;
    }

    .box{
        width: 100%;
    }

    .About{
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }

    .About h1{
        text-align: center;
    }
}
.edit-button {
    background-color: #06446d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.edit-button:hover {
    background-color:  #8a8a8b;
}
.home-link {
    color: #f9fcfd;
    text-decoration: none;
    font-size:60px; /* Adjust the size as needed */
    position: absolute;
    top: 20px;
    left: 20px;
    transition: color 0.3s;
}

.home-link:hover {
    color: #064b79;
}
.mode-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.mode-toggle i {
    font-size: 24px;
    margin-right: 5px; /* Adjust the margin as needed */
}

.sign-out-link {
    position:absolute;
    top: 50px;
    right: 50px;
    color:#064b79; /* Set the color according to your design */
    font-size: 15px; /* Adjust the size as needed */
    text-decoration: none;
}

.sign-out-link:hover {
    color: #064b79;
}
