*{
    font-family: 'Quicksand', sans-serif;
}
h5{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(to right, #74D194 ,#335268);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}
h1{
    color: #054863;
    font-weight: bold;
    text-align: center;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Float four columns side by side */
.column {
    float: left;
    width: 30%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #CCFDE0;
  }
  @media (max-width: 1000px) {
    .column .card{
        padding: 15px;
    }
}
@media screen and (max-width: 980px) {
    .column {
        margin: 0 auto;
    }
}
  .container{
    margin:auto;
  background-color:rgb(255, 255, 255);
  padding: 50px 50px 100px 100px;
  height:400px;
  width:1000px;
  }
  img{
    width: 150px;
    height:150px;
    border-radius: 50%;
  }
  .checked {
    color: orange;
  }
.carpetimage{
    width:100px;
    height:100px;
    text-align: left;
}
  